In [1]:
# https://youtu.be/byHcYRpMgI4

In [2]:
import sqlite3

In [3]:
conn = sqlite3.connect('customer.db') # creatig a new dbfile or connect to the file

In [4]:
cur = conn.cursor() # you use it to handle this

In [5]:
# create a table in database
try:
    cur.execute("""CREATE TABLE customers(
                first_name text,
                last_name text,
                email text)
        """)
except:
    pass
# Datatypes:
# NULL
# INTEGER
# REAL
# TEXT
# BLOB

In [6]:
insert = '''INSERT INTO customers VALUES('Tim', 'John', 'tim@company2.com')
    '''
cur.execute(insert)

In [7]:
# Insert many informamtion at the same time
many_customers = [('Wes', 'Brown', 'wes@brown.com'),
                  ('Steph', 'Kuewa', 'steph@kuewa.com'),
                  ('Daruton', 'Pas', 'daruton@pas.com')]
cur.executemany('INSERT INTO customers VALUES(?,?,?)', many_customers)

In [8]:
# Query the table(query: 問い合わせするという意味)
view = 'SELECT * FROM customers'
cur.execute(view)
#cur.fetchone()
#cur.fetchmany(3)
cur.fetchall()

# When you do this file in terminal
#print(cur.fetchall())

[('Tim', 'Smith', 'tim@company.com'),
 ('Will', 'Smith', 'tim@company.com'),
 ('Tim', 'John', 'tim@company2.com'),
 ('Wes', 'Brown', 'wes@brown.com'),
 ('Steph', 'Kuewa', 'steph@kuewa.com'),
 ('Daruton', 'Pas', 'daruton@pas.com'),
 ('Wes', 'Brown', 'wes@brown.com'),
 ('Steph', 'Kuewa', 'steph@kuewa.com'),
 ('Daruton', 'Pas', 'daruton@pas.com'),
 ('Tim', 'John', 'tim@company2.com'),
 ('Wes', 'Brown', 'wes@brown.com'),
 ('Steph', 'Kuewa', 'steph@kuewa.com'),
 ('Daruton', 'Pas', 'daruton@pas.com'),
 ('Tim', 'John', 'tim@company2.com'),
 ('Wes', 'Brown', 'wes@brown.com'),
 ('Steph', 'Kuewa', 'steph@kuewa.com'),
 ('Daruton', 'Pas', 'daruton@pas.com'),
 ('Tim', 'John', 'tim@company2.com'),
 ('Wes', 'Brown', 'wes@brown.com'),
 ('Steph', 'Kuewa', 'steph@kuewa.com'),
 ('Daruton', 'Pas', 'daruton@pas.com')]

In [9]:
cur.execute(view)
print(cur.fetchall())

[('Tim', 'Smith', 'tim@company.com'), ('Will', 'Smith', 'tim@company.com'), ('Tim', 'John', 'tim@company2.com'), ('Wes', 'Brown', 'wes@brown.com'), ('Steph', 'Kuewa', 'steph@kuewa.com'), ('Daruton', 'Pas', 'daruton@pas.com'), ('Wes', 'Brown', 'wes@brown.com'), ('Steph', 'Kuewa', 'steph@kuewa.com'), ('Daruton', 'Pas', 'daruton@pas.com'), ('Tim', 'John', 'tim@company2.com'), ('Wes', 'Brown', 'wes@brown.com'), ('Steph', 'Kuewa', 'steph@kuewa.com'), ('Daruton', 'Pas', 'daruton@pas.com'), ('Tim', 'John', 'tim@company2.com'), ('Wes', 'Brown', 'wes@brown.com'), ('Steph', 'Kuewa', 'steph@kuewa.com'), ('Daruton', 'Pas', 'daruton@pas.com'), ('Tim', 'John', 'tim@company2.com'), ('Wes', 'Brown', 'wes@brown.com'), ('Steph', 'Kuewa', 'steph@kuewa.com'), ('Daruton', 'Pas', 'daruton@pas.com')]

In [10]:
cur.execute(view)
items = cur.fetchall()
for item in items:
    print(item)

('Tim', 'Smith', 'tim@company.com')
('Will', 'Smith', 'tim@company.com')
('Tim', 'John', 'tim@company2.com')
('Wes', 'Brown', 'wes@brown.com')
('Steph', 'Kuewa', 'steph@kuewa.com')
('Daruton', 'Pas', 'daruton@pas.com')
('Wes', 'Brown', 'wes@brown.com')
('Steph', 'Kuewa', 'steph@kuewa.com')
('Daruton', 'Pas', 'daruton@pas.com')
('Tim', 'John', 'tim@company2.com')
('Wes', 'Brown', 'wes@brown.com')
('Steph', 'Kuewa', 'steph@kuewa.com')
('Daruton', 'Pas', 'daruton@pas.com')
('Tim', 'John', 'tim@company2.com')
('Wes', 'Brown', 'wes@brown.com')
('Steph', 'Kuewa', 'steph@kuewa.com')
('Daruton', 'Pas', 'daruton@pas.com')
('Tim', 'John', 'tim@company2.com')
('Wes', 'Brown', 'wes@brown.com')
('Steph', 'Kuewa', 'steph@kuewa.com')
('Daruton', 'Pas', 'daruton@pas.com')

In [11]:
cur.execute(view)
items = cur.fetchall()
for item in items:
    print(item[0])

Tim
Will
Tim
Wes
Steph
Daruton
Wes
Steph
Daruton
Tim
Wes
Steph
Daruton
Tim
Wes
Steph
Daruton
Tim
Wes
Steph
Daruton

In [12]:
cur.execute(view)
items = cur.fetchall()
for item in items:
    print(item[0]+item[1]+' | '+item[2])

TimSmith | tim@company.com
WillSmith | tim@company.com
TimJohn | tim@company2.com
WesBrown | wes@brown.com
StephKuewa | steph@kuewa.com
DarutonPas | daruton@pas.com
WesBrown | wes@brown.com
StephKuewa | steph@kuewa.com
DarutonPas | daruton@pas.com
TimJohn | tim@company2.com
WesBrown | wes@brown.com
StephKuewa | steph@kuewa.com
DarutonPas | daruton@pas.com
TimJohn | tim@company2.com
WesBrown | wes@brown.com
StephKuewa | steph@kuewa.com
DarutonPas | daruton@pas.com
TimJohn | tim@company2.com
WesBrown | wes@brown.com
StephKuewa | steph@kuewa.com
DarutonPas | daruton@pas.com

In [13]:
cur.execute(view)
items = cur.fetchall()
for item in items:
    print(item[0]+item[1]+'\t'+item[2])

TimSmith	tim@company.com
WillSmith	tim@company.com
TimJohn	tim@company2.com
WesBrown	wes@brown.com
StephKuewa	steph@kuewa.com
DarutonPas	daruton@pas.com
WesBrown	wes@brown.com
StephKuewa	steph@kuewa.com
DarutonPas	daruton@pas.com
TimJohn	tim@company2.com
WesBrown	wes@brown.com
StephKuewa	steph@kuewa.com
DarutonPas	daruton@pas.com
TimJohn	tim@company2.com
WesBrown	wes@brown.com
StephKuewa	steph@kuewa.com
DarutonPas	daruton@pas.com
TimJohn	tim@company2.com
WesBrown	wes@brown.com
StephKuewa	steph@kuewa.com
DarutonPas	daruton@pas.com

In [14]:
cur.execute(view)
items = cur.fetchall()
print('NAME ' + '\t\tEMAIL')
print('-----'+'\t\t-------')
for item in items:
    print(item[0]+item[1]+'\t\t'+item[2])

NAME 		EMAIL
-----		-------
TimSmith		tim@company.com
WillSmith		tim@company.com
TimJohn		tim@company2.com
WesBrown		wes@brown.com
StephKuewa		steph@kuewa.com
DarutonPas		daruton@pas.com
WesBrown		wes@brown.com
StephKuewa		steph@kuewa.com
DarutonPas		daruton@pas.com
TimJohn		tim@company2.com
WesBrown		wes@brown.com
StephKuewa		steph@kuewa.com
DarutonPas		daruton@pas.com
TimJohn		tim@company2.com
WesBrown		wes@brown.com
StephKuewa		steph@kuewa.com
DarutonPas		daruton@pas.com
TimJohn		tim@company2.com
WesBrown		wes@brown.com
StephKuewa		steph@kuewa.com
DarutonPas		daruton@pas.com

In [15]:
# select specific parts
part_view = 'SELECT * FROM customers WHERE last_name = "Kuewa" '
cur.execute(part_view)
cur.fetchall()

[('Steph', 'Kuewa', 'steph@kuewa.com'),
 ('Steph', 'Kuewa', 'steph@kuewa.com'),
 ('Steph', 'Kuewa', 'steph@kuewa.com'),
 ('Steph', 'Kuewa', 'steph@kuewa.com'),
 ('Steph', 'Kuewa', 'steph@kuewa.com')]

In [16]:
part_view2 = 'SELECT * FROM customers WHERE last_name like "Br%" ' # Strat from Br at last_name
cur.execute(part_view2)
cur.fetchall()

[('Wes', 'Brown', 'wes@brown.com'),
 ('Wes', 'Brown', 'wes@brown.com'),
 ('Wes', 'Brown', 'wes@brown.com'),
 ('Wes', 'Brown', 'wes@brown.com'),
 ('Wes', 'Brown', 'wes@brown.com')]

In [17]:
part_view3 = 'SELECT * FROM customers WHERE email LIKE "%@company.com"' # End to @company.com at email
cur.execute(part_view3)
cur.fetchall()

[('Tim', 'Smith', 'tim@company.com'), ('Will', 'Smith', 'tim@company.com')]

In [18]:
# Update Records
cur.execute('''UPDATE customers SET first_name = 'Will'
            WHERE last_name = 'Smith'
    ''')
cur.execute('SELECT rowid, * FROM customers')
cur.fetchall()

[(1, 'Will', 'Smith', 'tim@company.com'),
 (3, 'Will', 'Smith', 'tim@company.com'),
 (4, 'Tim', 'John', 'tim@company2.com'),
 (5, 'Wes', 'Brown', 'wes@brown.com'),
 (6, 'Steph', 'Kuewa', 'steph@kuewa.com'),
 (7, 'Daruton', 'Pas', 'daruton@pas.com'),
 (8, 'Wes', 'Brown', 'wes@brown.com'),
 (9, 'Steph', 'Kuewa', 'steph@kuewa.com'),
 (10, 'Daruton', 'Pas', 'daruton@pas.com'),
 (11, 'Tim', 'John', 'tim@company2.com'),
 (12, 'Wes', 'Brown', 'wes@brown.com'),
 (13, 'Steph', 'Kuewa', 'steph@kuewa.com'),
 (14, 'Daruton', 'Pas', 'daruton@pas.com'),
 (15, 'Tim', 'John', 'tim@company2.com'),
 (16, 'Wes', 'Brown', 'wes@brown.com'),
 (17, 'Steph', 'Kuewa', 'steph@kuewa.com'),
 (18, 'Daruton', 'Pas', 'daruton@pas.com'),
 (19, 'Tim', 'John', 'tim@company2.com'),
 (20, 'Wes', 'Brown', 'wes@brown.com'),
 (21, 'Steph', 'Kuewa', 'steph@kuewa.com'),
 (22, 'Daruton', 'Pas', 'daruton@pas.com')]

In [19]:
cur.execute('UPDATE customers SET first_name = "Tim" WHERE rowId = 1' )
cur.execute('SELECT rowid, * FROM customers')
cur.fetchall()

[(1, 'Tim', 'Smith', 'tim@company.com'),
 (3, 'Will', 'Smith', 'tim@company.com'),
 (4, 'Tim', 'John', 'tim@company2.com'),
 (5, 'Wes', 'Brown', 'wes@brown.com'),
 (6, 'Steph', 'Kuewa', 'steph@kuewa.com'),
 (7, 'Daruton', 'Pas', 'daruton@pas.com'),
 (8, 'Wes', 'Brown', 'wes@brown.com'),
 (9, 'Steph', 'Kuewa', 'steph@kuewa.com'),
 (10, 'Daruton', 'Pas', 'daruton@pas.com'),
 (11, 'Tim', 'John', 'tim@company2.com'),
 (12, 'Wes', 'Brown', 'wes@brown.com'),
 (13, 'Steph', 'Kuewa', 'steph@kuewa.com'),
 (14, 'Daruton', 'Pas', 'daruton@pas.com'),
 (15, 'Tim', 'John', 'tim@company2.com'),
 (16, 'Wes', 'Brown', 'wes@brown.com'),
 (17, 'Steph', 'Kuewa', 'steph@kuewa.com'),
 (18, 'Daruton', 'Pas', 'daruton@pas.com'),
 (19, 'Tim', 'John', 'tim@company2.com'),
 (20, 'Wes', 'Brown', 'wes@brown.com'),
 (21, 'Steph', 'Kuewa', 'steph@kuewa.com'),
 (22, 'Daruton', 'Pas', 'daruton@pas.com')]

In [20]:
# Delete records
cur.execute('DELETE from customers WHERE rowId = 2 AND first_name = "Will"')
cur.execute('SELECT * FROM customers')
cur.fetchall()

[('Tim', 'Smith', 'tim@company.com'),
 ('Will', 'Smith', 'tim@company.com'),
 ('Tim', 'John', 'tim@company2.com'),
 ('Wes', 'Brown', 'wes@brown.com'),
 ('Steph', 'Kuewa', 'steph@kuewa.com'),
 ('Daruton', 'Pas', 'daruton@pas.com'),
 ('Wes', 'Brown', 'wes@brown.com'),
 ('Steph', 'Kuewa', 'steph@kuewa.com'),
 ('Daruton', 'Pas', 'daruton@pas.com'),
 ('Tim', 'John', 'tim@company2.com'),
 ('Wes', 'Brown', 'wes@brown.com'),
 ('Steph', 'Kuewa', 'steph@kuewa.com'),
 ('Daruton', 'Pas', 'daruton@pas.com'),
 ('Tim', 'John', 'tim@company2.com'),
 ('Wes', 'Brown', 'wes@brown.com'),
 ('Steph', 'Kuewa', 'steph@kuewa.com'),
 ('Daruton', 'Pas', 'daruton@pas.com'),
 ('Tim', 'John', 'tim@company2.com'),
 ('Wes', 'Brown', 'wes@brown.com'),
 ('Steph', 'Kuewa', 'steph@kuewa.com'),
 ('Daruton', 'Pas', 'daruton@pas.com')]

In [21]:
# Query the database - Order By
cur.execute('SELECT rowid, * FROM customers ORDER BY rowid DESC') # DESCENDING: High to low
cur.fetchall()

[(22, 'Daruton', 'Pas', 'daruton@pas.com'),
 (21, 'Steph', 'Kuewa', 'steph@kuewa.com'),
 (20, 'Wes', 'Brown', 'wes@brown.com'),
 (19, 'Tim', 'John', 'tim@company2.com'),
 (18, 'Daruton', 'Pas', 'daruton@pas.com'),
 (17, 'Steph', 'Kuewa', 'steph@kuewa.com'),
 (16, 'Wes', 'Brown', 'wes@brown.com'),
 (15, 'Tim', 'John', 'tim@company2.com'),
 (14, 'Daruton', 'Pas', 'daruton@pas.com'),
 (13, 'Steph', 'Kuewa', 'steph@kuewa.com'),
 (12, 'Wes', 'Brown', 'wes@brown.com'),
 (11, 'Tim', 'John', 'tim@company2.com'),
 (10, 'Daruton', 'Pas', 'daruton@pas.com'),
 (9, 'Steph', 'Kuewa', 'steph@kuewa.com'),
 (8, 'Wes', 'Brown', 'wes@brown.com'),
 (7, 'Daruton', 'Pas', 'daruton@pas.com'),
 (6, 'Steph', 'Kuewa', 'steph@kuewa.com'),
 (5, 'Wes', 'Brown', 'wes@brown.com'),
 (4, 'Tim', 'John', 'tim@company2.com'),
 (3, 'Will', 'Smith', 'tim@company.com'),
 (1, 'Tim', 'Smith', 'tim@company.com')]

In [22]:
cur.execute('SELECT rowid, * FROM customers ORDER BY last_name')
cur.fetchall()

[(5, 'Wes', 'Brown', 'wes@brown.com'),
 (8, 'Wes', 'Brown', 'wes@brown.com'),
 (12, 'Wes', 'Brown', 'wes@brown.com'),
 (16, 'Wes', 'Brown', 'wes@brown.com'),
 (20, 'Wes', 'Brown', 'wes@brown.com'),
 (4, 'Tim', 'John', 'tim@company2.com'),
 (11, 'Tim', 'John', 'tim@company2.com'),
 (15, 'Tim', 'John', 'tim@company2.com'),
 (19, 'Tim', 'John', 'tim@company2.com'),
 (6, 'Steph', 'Kuewa', 'steph@kuewa.com'),
 (9, 'Steph', 'Kuewa', 'steph@kuewa.com'),
 (13, 'Steph', 'Kuewa', 'steph@kuewa.com'),
 (17, 'Steph', 'Kuewa', 'steph@kuewa.com'),
 (21, 'Steph', 'Kuewa', 'steph@kuewa.com'),
 (7, 'Daruton', 'Pas', 'daruton@pas.com'),
 (10, 'Daruton', 'Pas', 'daruton@pas.com'),
 (14, 'Daruton', 'Pas', 'daruton@pas.com'),
 (18, 'Daruton', 'Pas', 'daruton@pas.com'),
 (22, 'Daruton', 'Pas', 'daruton@pas.com'),
 (1, 'Tim', 'Smith', 'tim@company.com'),
 (3, 'Will', 'Smith', 'tim@company.com')]

In [23]:
# Query the database - AND/OR
cur.execute('SELECT rowid, * FROM customers WHERE first_name = "Tim" OR first_name = "Steph"')
cur.fetchall()

[(1, 'Tim', 'Smith', 'tim@company.com'),
 (4, 'Tim', 'John', 'tim@company2.com'),
 (6, 'Steph', 'Kuewa', 'steph@kuewa.com'),
 (9, 'Steph', 'Kuewa', 'steph@kuewa.com'),
 (11, 'Tim', 'John', 'tim@company2.com'),
 (13, 'Steph', 'Kuewa', 'steph@kuewa.com'),
 (15, 'Tim', 'John', 'tim@company2.com'),
 (17, 'Steph', 'Kuewa', 'steph@kuewa.com'),
 (19, 'Tim', 'John', 'tim@company2.com'),
 (21, 'Steph', 'Kuewa', 'steph@kuewa.com')]

In [24]:
# Query the database - LIMIT
cur.execute('SELECT rowid, * FROM customers LIMIT 2')
cur.fetchall()

[(1, 'Tim', 'Smith', 'tim@company.com'),
 (3, 'Will', 'Smith', 'tim@company.com')]

In [25]:
# Drop table
try:
    cur.execute('''CREATE table customers2(
                first_name text,
                last_name text,
                age integer,
                email text)''')
except:
    pass
customers2 = [('Eric', 'Hopkinz', 35, 'eric@hopz.com'),
              ('Howms', 'Manchester', 29, 'howms@manchester.com'),
              ('Gery', 'Alvert', 23, 'gery@crazyman.com'),
              ('Wagen', 'Bandet', 42, 'wagen@bandet.com')]
cur.executemany('INSERT INTO customers2 VALUES(?,?,?,?)', customers2)
cur.execute('SELECT rowid, * FROM customers2')
print(cur.fetchall())
cur.execute('DROP TABLE customers2')

[(1, 'Eric', 'Hopkinz', 35, 'eric@hopz.com'), (2, 'Howms', 'Manchester', 29, 'howms@manchester.com'), (3, 'Gery', 'Alvert', 23, 'gery@crazyman.com'), (4, 'Wagen', 'Bandet', 42, 'wagen@bandet.com')]

In [26]:
try:
    cur.execute('SELECT rowid, * FROM customers2')
    cur.fetchall()
except:
    print('The table customers2 does not exit')

The table customers2 does not exit

In [27]:
# Commit our commad(commit とは　transaction などの　分割できない操作をひとくくりにして変更を確定すること)
conn.commit()

In [28]:
# Close our connection
conn.close()