In [1]:
import database as db

In [2]:
print('Welcome!')

Welcome!

In [3]:
table = input('Enter table name: ')

Enter table name:  customers4

In [4]:
db.create_table(table)

create new table? Enter y/n:  n

In [5]:
pms1 = input('insert new value to table? Enter y/n: ')
if pms1 == 'y':
    db.add_one(table)
    while pms1 == 'y':
        pms1 = input('insert new value to table again? Enter y/n: ')
        if pms1 == 'y':
            db.add_one(table)
        elif pms1 == 'n':
            pass
elif pms1 == 'n':
    pass

insert new value to table? Enter y/n:  y
Enter customer information:  "David", "Twai", 38
insert new value to table again? Enter y/n:  y
Enter customer information:  "Kevin", "Roar", 23
insert new value to table again? Enter y/n:  y
Enter customer information:  "Felar", "Peter", 54
insert new value to table again? Enter y/n:  n

In [6]:
pms2 = input('Do you want to query the table? Enter y/n: ')
if pms2 == 'y':
    db.show_all(table)
elif pms2 == 'n':
    pass

Do you want to query the table? Enter y/n:  y

(1, 'Alex', 'Oscar', 35)
(2, 'Canelo', 'Alvarez', 31)
(3, 'David', 'Twai', 38)
(4, 'Kevin', 'Roar', 23)
(5, 'Felar', 'Peter', 54)

In [7]:
pms3 = input('Do you want to delete a value in the table? Enter y/n: ')
if pms3 == 'y':
    db.delete_one(table)
elif pms3 == 'n':
    pass

Do you want to delete a value in the table? Enter y/n:  n

In [8]:
print('Congratulations! You are successful creating new table')

Congratulations! You are successful creating new table

In [9]:
db.show_all(table)

(1, 'Alex', 'Oscar', 35)
(2, 'Canelo', 'Alvarez', 31)
(3, 'David', 'Twai', 38)
(4, 'Kevin', 'Roar', 23)
(5, 'Felar', 'Peter', 54)

In [11]:
#!jupyter nbconvert --to python handle_SQLite_manually.ipynb

[NbConvertApp] Converting notebook handle_SQLite_manually.ipynb to python
[NbConvertApp] Writing 1000 bytes to handle_SQLite_manually.py